@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;700&display=swap");

:root {
  --primary-color: #73b4f9; /* Example primary color */
  --secondary-color: #271545; /* Example secondary color */
  --font-color: #6e0a19; /* Example accent color */
  /* Add more colors as needed */
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  background-color: var(--primary-color);
  color: var(--font-color);
}
body {
  background-color: var(--secondary-color);
  font-family: "Edu+SA+Beginner", sans-serif;
}
